/*
 * Copyright 2018 Diego Ortín Fernández
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software
 * and associated documentation files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software is furnished to
 * do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or
 * substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
 * OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0076BD;
}

h1 {
    font-size: 2.5em;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'Cantarell', serif;
}

a {
    color: #0076BD;
}

.branding h1 {
    margin-bottom: 0;
}

.branding h2 {
    margin-top: 0.1em;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#0096DD, #0076BD);
    -webkit-box-shadow: 0 0 6px #444;
    -moz-box-shadow: 0 0 6px #444;
    box-shadow: 0 0 6px #444;
    height: 100px;
}

header > div {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
}

header div.branding {
    text-shadow: 0 0 2px #444444;
    flex-direction: column;
    justify-content: center;
    color: white;
}

div.branding h1, div.branding h2 {
    margin: 0;
}

header div.branding h2 {
    font-size: 1em;
}

header div.branding a {
    text-decoration: inherit;
    color: inherit;
    padding: 0.8em;
    height: calc(100% - 0.8em);
}

header div.login > div.loggedUser {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
    background-color: white;
    padding: 0.8em;
    border-radius: 0.8em;
    border: 2px solid #005ba0;
}

header div.login > div.loggedUser a {
    text-decoration: none;
    margin-top: 5px;
}

section.main {
    flex: 1;
    min-height: calc(100vh - 100px);
    margin-top: 100px; /* Same as the header's height */
    background-color: white;
    padding: 5px 3.5em;
    box-shadow: 0 0 6px 0 #444;
}

div.index-container {
    padding: 0 35px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #fff;
}

div.index-container > div {
    margin: 15px;
}

div.welcome-banner, div.welcome-explanation {
    max-width: 600px;
    text-align: center;
}

div.welcome-banner h1 {
    font-size: 3.5em;
}

div.welcome-banner h2 {
}

div.signup {
    color: #444;
    padding: 7px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 2px solid #005ba0;
    border-radius: 15px;
}

div.signup form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.signup input {
    display: block;
    width: 300px;
    text-align: center;
}

div.signup input[type='submit'] {
    margin-top: 10px;
    width: auto;
}

ol.proposals {
    padding-left: 0;
}

li.proposal {
    border: 1px solid black;
    margin: 0.5em auto;
    padding: 0.6em;
    list-style: none;
}

li.proposal img {
    width: 16px;
}

li.proposal .explanation, li.proposal .metadata {
    margin-left: calc(16px + 10px); /* image width + name left margin */
}

li.proposal .name {
    margin: 0 0 0.3em 10px;
    display: inline-block;
}

li.proposal .explanation {
    display: block;
}

.proposal .metadata {
    display: block;
    color: #444444;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 1em;
}



span.copyright {
    padding: 15px;
    align-self: end;
    color: #fff;
    text-shadow: 0 0 4px #444;
    text-align: center;
    margin-right: 3.5em; /* Same as the padding from section.main */
}